<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!-- Mongo DB -->
    <!--<add key="MongoUri" value="mongodb://ntooitive@46I31QpH47Ef:23.253.108.9:4436/ntooitive_auto" />

    <add key="MongoUserName" value="ntooitive" />
    <add key="MongoPassword" value="46I31QpH47Ef" />
    <add key="MongoServerIP" value="23.253.108.9" />
    <add key="MongoServerPort" value="4436" />
    <add key="MongoDatabaseName" value="ntooitive_auto" />
    <add key="MaxConnectionPoolSize" value="400" />
    <add key="ConnectionTimeOutInMiliSecond" value="360000" />
    <add key ="path" value="C:\Users\Habib\Source\Repos\AutoVerticals\Ntooitive.AutoVertical\DataImportConsole\DumpData\"/>
    <add key ="FTPpath" value="ftp://ftp.vast.com//outbound/"/>-->

    <add key="MongoUri" value="mongodb://localhost:27017/ntooitive_autovertical" />

    <add key="MongoUserName" value="" />
    <add key="MongoPassword" value="" />
    <add key="MongoServerIP" value="localhost" />
    <add key="MongoServerPort" value="27017" />
    <add key="MongoDatabaseName" value="ntooitive_autovertical" />
    <add key="MaxConnectionPoolSize" value="400" />
    <add key="ConnectionTimeOutInMiliSecond" value="360000" />
    <add key ="path" value=" E:\Auto\Ntooitive.AutoVertical\DataImportConsole\DumpData\"/>
    <add key ="FTPpath" value="ftp://ftp.vast.com//outbound/"/>
    <add key ="FTPpathClassified" value="ftp://ftp.tribpub.com//"/>
    
    <add key="Bing:APIKey" value="Aj1jij2hUsqUbBkgNY5kkOlHc8uXc5ZlI332uFT9rUZ5eKg8oH4ePSSoa6u1gVAv"/>
    <add key="Bing:BaseUrl" value="http://dev.virtualearth.net/"/>
    <add key="Bing:TypeBaseUrl" value="http://spatial.virtualearth.net/"/>
    <add key="Bing:LocationDistance" value="10"/>
    <add key="Bing:NoOfItem" value="15"/>
    <add key="Bing:EntityCodeList" value="3578,4013,4170,4581,5400,5540,5800,6000,7011,8060,8211,9221,9530,9996,9545"/>
    
  </appSettings>
</configuration>