<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Mongo DB UATP-->

    <add key="MongoUri" value="mongodb://ntooitive:7H05d99LWa1j@23.253.108.9:4436/ntooitive_realestate" />

    <add key="MongoUserName" value="ntooitive" />
    <add key="MongoPassword" value="7H05d99LWa1j" />
    <add key="MongoServerIP" value="23.253.108.9" />
    <add key="MongoServerPort" value="4436" />
    <add key="MongoDatabaseName" value="ntooitive_realestate" />
    <add key="MaxConnectionPoolSize" value="400" />
    <!--Default = 100-->
    <add key="ConnectionTimeOutInMiliSecond" value="360000" />

    <!-- Mail -->
    <add key="MvcMailer.BaseURL" value="" />

    <!-- Dev -->
    <add key="DevModeKey" value="4157836990" />
    <!-- Invitation Only -->

  </appSettings>
</configuration>